* {
  box-sizing: border-box;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

html {
  background-image: url('/Users/reggiethompson/turing/1module/Slapjack/assets/slapjack_bgIMG_lastShot2.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  color: #FFF;
  font-family: sans-serif;
}

body {
  height: 100%;
  width: 100%;
  /* background-color: gray; */
}

header {
  width: 100%;
  position: absolute;
  font-size: 4em;
  margin-top: 2rem;
  text-align: center;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section {
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 auto;
  border: 1.5px solid #FFF;
  border-radius: 10px;
  cursor: pointer;
}

aside {
  width: 100%;
  text-align: center;
}

.pile {
  box-shadow: -12px -5px 2px 1px rgba(255,255,255, 0.3);
}

.pile > img {
  max-height: 100%;
  max-width: 100%;
  width: 300px;
  margin: 0;
  border: 1px solid #FFF;
  border-radius: 10px;
}

.hidden {
  opacity: 0;
}
